body {
  padding: 0;
  margin: 0;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  background: rgba(255, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.map {
  display: flex;
  background-color: rgba(0, 0, 255, 0.1);
  height: 80vh;
  width: 100%;
}

.panel{
  height: 100%;
  width: 40vh;
  background-color: rgba(0, 255, 255, 0.1);
  display: flex;
  margin-left: auto;
}

.event-details {
  width: 100%;
  height: 20vh;
  min-height: 90vh;
  background-color: rgba(0, 128, 0, 1);
  margin-top: auto;
  transition: .5s;
}

.expanded {
  transform: translateY(-70vh);
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 0, 0.1);
  flex-direction: row;
}