body {
  padding: 0;
  margin: 0;
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 0, 0.1);
  flex-direction: row;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  background: rgba(255, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.map {
  display: flex;
  background-color: rgba(0, 0, 255, 0.1);
  height: 100vh;
  width: 100%;
}

.panel {
  height: 100vh;
  width: 40vw;
  background-color: rgba(0, 255, 255, 0.1);
  display: flex;
  margin-left: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.event-details  {
  transition: all .3s;
  background: green;
  min-height: 130px;
  overflow: auto;
}

.expanded {
  background: red;
  min-height: 800px;
}