$peachPuff: #FCDEBE;
$paleSpringBud: #D4D2A5;
$oliveGreen: #AFAB5A;
$middleGrey: #928779;
$independencePurple: #5E5768;
$independenceDark: #3A445D;

$redButton: #D3311F;
$redButtonHover:  #f72f2ff1;
$redButtonDisabled: #af5a6296;


$textBlack: #0D0D0D;
$textBlackDisabled: #0d0d0d3d;